/************************************************************
*                          Carousel                         *
*************************************************************/

#carouselCentral .carousel-inner {
    border-radius: 4px;
}

#carouselCentral .carousel-item img {
    width: 930px;
    height: 558px;
}

#carouselCentral .carousel-caption {
    background: rgba(0, 0, 0, 0.65);
    border-radius: 4px 4px 0px 0px;
    margin-bottom: -3%;
}

#carouselCentral .carousel-indicators {
    bottom: -2%;
}

/************************************************************
  *                     Formulario Trabjaos                   *
  *************************************************************/

#formTrabajos {
    background-color: rgba(0, 0, 0, 0.45);
    padding: 5%;
}

#formTrabajos label {
    color: white;
    font-weight: bold;
}